apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: rabbitmqvhosts.db.ridecell.io
spec:
  group: db.ridecell.io
  names:
    kind: RabbitmqVhost
    plural: rabbitmqvhosts
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            clusterhost:
              type: string
            connection:
              properties:
                passwordSecretRef:
                  properties:
                    key:
                      type: string
                    name:
                      type: string
                  required:
                  - name
                  type: object
                username:
                  type: string
              required:
              - username
              - passwordSecretRef
              type: object
            vhostName:
              type: string
          required:
          - clusterhost
          - connection
          type: object
        status:
          properties:
            message:
              type: string
            status:
              type: string
          required:
          - status
          - message
          type: object
  version: v1beta1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
