<header>
  <div align="right">
    You're logged in as <%= current_user.Name %> <a href="/logout">Logout</a>
  </div>
</header>

<body>
  <h3><%= instance.Name %></h3>
  <h5>Version: <%= instance.Spec.Version %> </h5>
  <%= form({action: "/pullrequest/<%= instance.Name %>", method: "POST"}) { %>
    <%= f.SubmitTag("Deployment PR") %>
    <input type="hidden" name="instance-name" value=<%= instance.Name %>>
  <% } %>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr text-align="left">
              <th>
                Status
              </th>
              <th>
                Status Message
              </th>
              <th>
                Postgres Status
              </th>
              <th>
                RabbitMQ Status
              </th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <%= instance.Status.Status %>
            </td>
            <td>
              <%= instance.Status.Message %>
            </td>
            <td>
              <%= instance.Status.PostgresStatus %>
            </td>
            <td>
              <%= instance.Status.RabbitMQStatus %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="subtitle">
        <div class="container">
        <h3>Deployments</h3>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr text-align="left">
              <th>
                Deployment Name
              </th>
              <th>
                Desired replica count
              </th>
              <th>
                Current replica count
              </th>
              <th>
                Available Replica count
              </th>
              <th>
                Up to date replica count
              </th>
            </tr>
          </thead>
          <tbody>
            <%= for (d) in deployments { %>
              <tr>
                <td>
                  <%= d.Name %>
                </td>
                <td>
                  <%= d.Replicas %>
                </td>
                <td>
                  <%= d.CurrentReplicas %>
                </td>
                <td>
                  <%= d.UpdatedReplicas %>
                </td>
                <td>
                  <%= d.AvailableReplicas %>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="subtitle">
        <div class="container">
        <h3>Pods</h3>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr text-align="left">
              <th>
                Pod Name
              </th>
              <th>
                Ready
              </th>
              <th>
                Restarts
              </th>
            </tr>
          </thead>
          <tbody>
            <%= for (p) in pods { %>
              <tr>
                <td>
                  <%= p.Name %>
                </td>
                <td>
                  <%= p.Readiness %>
                </td>
                <td>
                  <%= p.Restarts %>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
